.tags-block {
  background: #ecf1f1;
  border: 0;
  border-radius: 9px;
  margin-bottom: 13px;
  padding: clamp(13px, 1.4vw, 15px);
  width: 100%;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag-list button {
  background: #f8d3d5;
  border-radius: 30px;
  border: 0;
  color: var(--ink);
  cursor: pointer;
  font-size: 11px;
  padding: 7px 9px;
  transition: all 0.2s ease-in-out;
}
.tag-list button:nth-child(2) {
  background: #a5fffb;
}
.tag-list button:nth-child(3) {
  background: #fff9d0;
}
.tag-list button:nth-child(4) {
  background: #ffd9c2;
}
.tag-list button:nth-child(5) {
  background: #fdcdff;
}
.tag-list button:nth-child(6) {
  background: #c3ffcd;
}
.tag-list button:hover {
  filter: brightness(0.95);
  color: var(--coral);
  transform: scale(1.05);
}
.tag-list button.active {
  filter: saturate(1.65) brightness(1.0);
  color: var(--coral);
  /* outline: 1px solid var(--ink); */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  outline-offset: 1px;
  transform: scale(1.05);
}
